* {
    font-family: 'Ubuntu monospace';
}

.terminal {
    background-color: #041F1E;
    color: #F7DBA7;
    font-family: 'Ubuntu monospace';
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

/* .output {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding-bottom: 0.5em;
} */

.input-container {
    display: flex;
    width: 100%;
}

.input {
    background: none;
    border: none;
    color: #F7DBA7;
    outline: none;
    width: 100%;
    font-size: 1em;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    overflow: hidden;
}
