* {
    font-family: 'Ubuntu monospace';
}

.terminal {
    background-color: #041F1E;
    color: #F7DBA7;
    font-family: 'Ubuntu monospace';
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.output {
    white-space: pre-wrap; /* Allow newlines and wrap content */
    overflow-wrap: break-word; /* Break long words when needed */
    padding: 0.5em;
}

.input-container {
    display: flex;
    width: 100%;
}

.input {
    background: none;
    border: none;
    color: #F7DBA7;
    outline: none;
    width: 100%;
    font-size: 1em;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    resize: none;  /* Prevent resizing the textarea */
}
